.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.footer__column-link:hover {
  opacity: .6;
}
