.feyman {
  box-sizing: border-box;
  height: 890px;
  padding-top: 100px;
  position: relative;
  background: #f2f2f2 url(../../images/feinman.png) left bottom/867px 637px no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
