.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.header__link::after {
  content: '\2192';
  padding-left: 5px;
}

.header__link:hover {
  opacity: .6;
}
