@import url(./font.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/*HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header_theme_gray {
  background: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 54px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: '\2192';
  padding-left: 5px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  /* Переделать потом в модификатор */
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;   /* Переделать потом в модификатор */
  position: absolute;
  right: 0;
  top: 64px;
}




/* +++++++++++++++++++++++++++++++ end header */

.content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* ******** DESCRIPTION*************** */

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 10px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* ********end DESCRIPTION*************** */

/* *************** TECHNIQUES*************** */


.techniques {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  /* margin потом убрать в миксины */
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  /* margin потом убрать в миксины */
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 100px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 60px;
  margin-bottom: 43px;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/* *************** END TECHNIQUES*************** */

/* ***************DIGITS***************** */

.digits {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* ***************  END   DIGITS***************** */

/* *****************    KAUFMAN ************** */

.kaufman {
  background: #000;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  /* потом раскомментить */
  margin-right: 0;
  margin-top: 80px;
}

/* ***************** END  KAUFMAN ************** */

/* ********** RESOURCES *********************/

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px 0 217px;
  display: flex;
  justify-content: space-between;
}

.resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
}

/* ********** END RESOURCES *********************/

/* ************ FOOTER ************* */

.footer {
  min-height: 350px;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 60px 0 40px;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* margin: 60px auto 40px; */
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author-link {
  text-decoration: none;
  color: #fff;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  /* list-style-type: none; */

  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
